*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  font-family: 'Poppins', sans-serif;
  background: url('https://i.pinimg.com/736x/86/e3/de/86e3de5a6732a578071d087afe901ef7.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  min-height: 100vh;
}